{% extends 'base.html.twig' %}

{% block title %}BizQuiz LTI{% endblock %}

{% block stylesheets %}<style>
p.info {
  margin-bottom: 1rem;
}
</style>{% endblock %}

{% block body %}
<form method="post" action="/">
  <h2>LTI login example</h3>
  <p>
    This form enables on the fly editing of all LTI paramters used in a basic launch request.<br />
    This configuration should be stored on the server and should not be altered by ordinary users.<br />
    Keep the "shared secret" confidential!
  </p>
  <hr />
  <h3>LTI Provider</h3>
  <div class="row">
    <div class="columns">
      <label for="consumerKeyInput">Consumer key</label>
      <input required name="consumerKey" class="u-full-width" type="text" placeholder="xyz" id="consumerKeyInput" value="{{ consumerKey }}">
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <label for="sharedSecretInput">Shared secret</label>
      <input required name="sharedSecret" class="u-full-width" type="text" placeholder="password" id="sharedSecretInput" value="{{ sharedSecret }}">
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <label for="launchUrlInput">Launch URL</label>
      <input required name="launchUrl" class="u-full-width" type="text" placeholder="https://bizquiz.cloud/api/lti" id="launchUrlInput" value="{{ launchUrl }}">
    </div>
  </div>
  <hr />
  <h3>User</h3>
  <div class="row">
    <div class="columns">
      <label for="idInput">User Id</label>
      <input required name="id" class="u-full-width" type="text" placeholder="12345" id="idInput" value="{{ id }}">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="emailInput">Your email (optional)</label>
      <input name="email" class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailInput">
    </div>
    <div class="six columns">
      <label for="launchPresentationLocaleInput">Locale (optional)</label>
      <input name="launchPresentationLocale" class="u-full-width" type="text" placeholder="en-US" id="launchPresentationLocaleInput">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="firstnameInput">Firstname</label>
      <input name="firstname" class="u-full-width" type="text" placeholder="Max" id="firstnameInput">
    </div>
    <div class="six columns">
      <label for="lastnameInput">Lastname</label>
      <input name="lastname" class="u-full-width" type="text" placeholder="Muster" id="lastnameInput">
    </div>
  </div>
  <hr />
  <h3>BizQuiz Custom Parameters</h3>
  <div class="row">
    <div class="columns">
      <label for="customGroupsInput">Groups (optional) <code>array&lt;VARCHAR(255)&gt;</code> <i>custom_team</i></label>
      <p class="info">A comma-separated list of all groups to which the user is to be added. Note that the same language must always be used for the group names, regardless of the user language. Groups that do not yet exist in the BizQuiz will be created.</p>
      <input name="customGroups" class="u-full-width" type="text" placeholder="Learner, Novice" id="customGroupsInput" value="{{ customGroups }}">
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <label for="customTeamInput">Team (optional) <code>VARCHAR(32)</code> <i>custom_groups</i></label>
      <p class="info">Name of the team to which the user is to be added. Non-existing teams are created.</p>
      <input name="customTeam" class="u-full-width" type="text" placeholder="Bionic Beaver" id="customTeamInput" value="{{ customTeam }}">
    </div>
  </div>
  <hr />
  <input class="button-primary" type="submit" value="Generate signed LTI launch form">
</form>
{% endblock %}
